// Sizes Settings
$small: 768px;
$medium: 960px;
$large: 1280px;
$xlarge: 1903px;

// Container Settings
$containerSize: 70vw;

// Margin Settings
$marginSize: 1vw;
$marginSizeCoficent: 0.5;
$marginSizeCount: 41;

// Padding Settings
$paddingSize: 0.7vw;
$paddingSizeCoficent: 0.5;
$paddingSizeCount: 51;

// Width Settings
$widthAbsoluteSize: 5%;
$widthAbsoluteCount: 21;
$widthFixedSize: 0.7vw;
$widthFixedCount: 101;
$widthFixedSizeCoficent: 6;

// Height Settings
$heightAbsoluteSize: 5%;
$heightAbsoluteCount: 21;
$heightFixedSize: 0.7vw;
$heightFixedCount: 101;
$heightFixedSizeCoficent: 6;

// Postiion Settings
$positionAbsoluteSize: 5%;
$positionAbsoluteCount: 31;
$positionFixedSize: 2vw;
$positionFixedCount: 121;

// Border Settings
$borderSize: 0.04vw;
$borderSizeCoficent: 0.5;
$borderSizeCount: 21;

// Font Settings
$fontSize: 1.8vw;
$fontSizeCoficent: 0.09;
$fontSizeCount: 31;

// Font Line Height Settings
$lineHeightSize: 1vw;
$lineHeightSizeCoficent: 0.1;
$lineHeightSizeCount: 51;

// Border Radius Settings
$radiusAbsoluteSize: 5%;
$radiusAbsoluteCount: 21;
$radiusFixedSize: 0.1vw;
$radiusFixedCount: 101;
